@import "tailwindcss";
@plugin "daisyui";

@custom-variant light (&:where(.light, .light *));

html {
  scroll-behavior: smooth;
}


@theme {
  --color-main-bg: theme(colors.slate.900);
  --color-component-bg: theme(colors.slate.800);
  --color-primary-text: theme(colors.slate.300);
  --color-heading-text: theme(colors.white);
  --color-accent-custom: theme(colors.indigo.400);

  --color-btn-bg: theme(colors.indigo.500);
  --color-btn-hover: rgb(99 102 241 / 0.65);
  --color-btn-text: theme(colors.white);

  --color-component-border: rgb(99 102 241 / 0.2);

  --color-input-bg: #1f2937;
  --color-input-border: theme(colors.gray.700);
  --color-input-placeholder: theme(colors.gray.500);
  --color-input-outline: rgb(99 102 241 / 0.4);
  --color-input-focus: theme(colors.indigo.400);

  --color-success: #4ade80;
  --color-warning: #facc15;
  --color-danger: #f87171;

  --font-heading: var(--font-space-grotesk);
  --font-body: var(--font-poppins);
}

.light {
  --color-main-bg: theme(colors.slate.200);
  --color-component-bg: theme(colors.slate.100);
  --color-primary-text: theme(colors.gray.700);
  --color-heading-text: theme(colors.gray.800);
  --color-accent-custom: theme(colors.indigo.500);

  --color-component-border: theme(colors.slate.300);

  --color-btn-hover: rgb(99 102 241 / 0.95);

  --color-input-bg: theme(colors.slate.200);
  --color-input-border: theme(colors.slate.300);
  --color-input-placeholder: theme(colors.gray.500);
  --color-input-outline: theme(colors.slate.400);
  --color-input-focus: theme(colors.indigo.500);

  --color-success: #16a34a;
  --color-warning: #ca8a04;
  --color-danger: #dc2626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

button:hover:not(:disabled),
[role="button"]:hover,
input[type="button"]:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
  cursor: pointer;
}

button {
  transition-duration: 300ms;
}
